{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ usuario.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ usuario.apellido }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ usuario.roles }}</td>
            </tr>
            <tr>
                <th>Identificador</th>
                <td>{{ usuario.identificador }}</td>
            </tr>
            <tr>
                <th>Cargo</th>
                <td>{{ usuario.cargo }}</td>
            </tr>
            <tr>
                <th>Escuela</th>
                <td>{{ usuario.escuela }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>{{ usuario.area }}</td>
            </tr>
            <tr>
                <th>Fecha_de_inicio</th>
                <td>{{ usuario.fechaDeInicio ? usuario.fechaDeInicio|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fecha_de_finalizacion</th>
                <td>{{ usuario.fechaDeFinalizacion ? usuario.fechaDeFinalizacion|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ usuario.responsable }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>{{ usuario.foto }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_usuario_index') }}">back to list</a>

    <a href="{{ path('app_usuario_edit', {'id': usuario.id}) }}">edit</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
