{% extends 'base.html.twig' %}

{% block title %}Calendario index{% endblock %}

{% block body %}
    <h1>Calendario index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Asunto</th>
                <th>Nombre_destinatario</th>
                <th>Correo_destinatario</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for calendario in calendarios %}
            <tr>
                <td>{{ calendario.id }}</td>
                <td>{{ calendario.titulo }}</td>
                <td>{{ calendario.asunto }}</td>
                <td>{{ calendario.nombreDestinatario }}</td>
                <td>{{ calendario.correoDestinatario }}</td>
                <td>{{ calendario.fecha ? calendario.fecha|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ calendario.estado }}</td>
                <td>
                    <a href="{{ path('app_calendario_show', {'id': calendario.id}) }}">show</a>
                    <a href="{{ path('app_calendario_edit', {'id': calendario.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_calendario_new') }}">Create new</a>
{% endblock %}
